* {
    box-sizing: border-box;
}

input[type="checkbox"] {
    font-size: 2rem;
}

input[type="checkbox"]:checked ~ label {
    color: green;
    text-decoration: line-through;
}

h1 {
    text-align: center;
}